<h2>About us</h2>

<p class="text">
  We are two students who decided to create a tool to help people unite and
  fight together against their addiction after we discovered the power of not
  being alone in this journey. We heavily struggled with addiction, and building
  this website gave us a sense of purpose. We truly hope that this website
  will give people the motivation they need to get back up and shine again.
</p>

<!--
<h2>Contact us</h2>
<p class="text">We would be happy to hear about any of you ideas (ranking, changes to the website...) or anything you
    would like to tell
    us.</p>
<div class="editor-container">
    <form [formGroup]="messageForm" (ngSubmit)='onSubmit()'>
        <mat-form-field class="form-field" appearance="outline">
            <textarea matInput placeholder="Send us a message" rows="7" formControlName="message"></textarea>
            <mat-error *ngIf="messageForm.controls.message.hasError('required')">Please enter a message.
            </mat-error>
            <mat-error *ngIf="messageForm.controls.message.hasError('maxlength')"> Your message is too
                long.
            </mat-error>

        </mat-form-field>
        <mat-form-field appearance="outline">
            <input type="email" matInput placeholder="Mail address" formControlName="email" />
            <mat-error *ngIf="messageForm.controls.email.hasError('required')">Please enter an email.
            </mat-error>
            <mat-error *ngIf="messageForm.controls.email.hasError('email')">Please enter a valid email.</mat-error>
            <mat-icon matPrefix class="material-icons-outlined placeholder-icon">email
            </mat-icon>
        </mat-form-field>
        <div>
            <button type="submit" [disabled]="!messageForm.valid" mat-raised-button mat-button color="primary"
                class="submit-button">
                Submit
            </button>
        </div>
    </form>
</div>
-->
