<div class="container">
  <h1>EMERGENCY</h1>

  <p>
    The first thing you must do is <b> STAND UP</b>, so you avoid any PMO
    position.
  </p>

  <p>
    Immediately do something that is physically
    <b>incompatible with sexual pleasure</b>:
  </p>
  <ul>
    <li>put cold water on your genitals</li>
    <li>do sport (running, push-ups, jumping)</li>
    <li>talk to somebody (online or in person) or scream if you are alone</li>
    <li>drink/eat</li>
    <li>run to the closest public place</li>
  </ul>

  <p>
    Once the physical urge is gone or significantly reduced, you must take care
    of the <b>mental urge</b>, by remembering all the reasons you want to quit:
  </p>

  <ul>
    <li>a better self-confidence/self-esteem</li>
    <li>a back to normal dopamine level</li>
    <li>more time & energy</li>
    <li>no guilt after masturbation</li>
    <li>less difficulty to manage stress/anxiety</li>
    <li>your marriage if applicable</li>
    <li>and simply your self-respect</li>
  </ul>

  <p>- if the urge comes back, repeat the cycle until it is gone.</p>

  <p>
    And remember: You can do it. We've personally been there as many others, and
    we made it. If we did it, you can do it too.
  </p>
  <p>Yes it's freaking hard, but one day you will be so proud of yourself.</p>

  <p>
    If you feel like you need extra motivation, you can read the article
    <a href="https://www.quitzz.com/articles/for_those_on_the_verge_of_giving_up/773f06a3-525f-4040-a718-68e9053c3eb4"> For those on the verge on giving up</a>, it can help you
    realize a few important things you might be forgetting right now.
  </p>
</div>
