<div class="container">
  <h2 mat-dialog-title class="title">Setting a new password</h2>

  <div class="margin-bottom-xl">
    <p class="mat-error" *ngIf="customError">{{customError}}</p>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <p class="margin-bottom-xl">
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          [type]="isPasswordVisible ? 'text' : 'password'"
        />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ isPasswordVisible ? "visibility_off" : "visibility" }}</mat-icon
        >
        <mat-error *ngIf="passwordForm.controls.password.hasError('required')"
          >Please enter a password.
        </mat-error>
        <mat-error *ngIf="passwordForm.controls.password.hasError('minlength')"
          >Password must be 8 to 20 character long.
        </mat-error>
        <mat-error *ngIf="passwordForm.controls.password.hasError('maxlength')"
          >Password must be 8 to 20 character long.
        </mat-error>
        <mat-error *ngIf="passwordForm.controls.password.hasError('pattern')"
          >Password must contain at least 1 digit and 1 letter.</mat-error
        >
        <mat-icon matPrefix class="material-icons-outlined placeholder-icon"
          >lock
        </mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Confirm your password</mat-label>
        <input
          type="password"
          matInput
          formControlName="passwordConfirmation"
          [type]="isPasswordVisible ? 'text' : 'password'"
        />
        <mat-icon matPrefix class="material-icons-outlined placeholder-icon"
          >lock
        </mat-icon>
      </mat-form-field>
    </p>
    <div class="button-container">
      <button
        class="confirm-button"
        mat-raised-button
        color="warn"
        type="button"
        (click)="onCancel()"
        mat-button
      >
        Cancel
      </button>
      <!--button with no defined type act as submit button-->

      <button
        mat-raised-button
        color="primary"
        type="submit"
        mat-button
        [disabled]="!passwordForm.valid"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
