<div>
  <p class="announcement-title">💡 Announcement</p>
  <div class="text-container light-grey-border">
    <p>● The project will keep improving in feature releases 🔥</p>
    <p>● Mobile app under development! 🚀</p>

    <p>● Give us your feedback or ideas! (see below)</p>
    <p>
      ● We need support to keep the project alive. Hosting and database services are currently being
      paid by ourselves :(
    </p>

    <div class="donate-container">
      <app-donate-button></app-donate-button>
    </div>
  </div>
  <div *ngIf="false" class="donors-container">
    <app-donors-list> </app-donors-list>
  </div>
</div>
